body {
  background-color: antiquewhite;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: grid;
  gap: 10px;
}

hr {
  width: 100%;
}

#textInput {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  overflow: auto;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.checklist {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}
.category-list,
.model-summary {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #f7f7f7;
}
.error-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid red;
  background-color: #ffe6e6;
  color: red;
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
}
.summary-table th,
.summary-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.summary-table th {
  background-color: #ddd;
}

.project-entry {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  max-width: 100%;
}

.project-entry a {
  font-size: 1rem;
  display: block;
  margin-bottom: 15px;
  width: fit-content;
}

.project-entry .desc {
  color: var(--font-color-desc);
  line-height: 1.5;
}

.intro {
  display: block;
  margin-bottom: 10px;
  background-color: #ffdfdf;
  width: fit-content;
}

#commits-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

#commits-list li {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

#commits-list li:hover {
  background: #f0f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#commits-list li strong {
  font-size: 1.2em;
  color: #333;
}

#commits-list li em {
  font-size: 0.9em;
  color: #666;
}

#loading-message {
  font-size: 1.1em;
  font-style: italic;
  color: #999;
  text-align: center;
}
